{% extends "base.html" %} {% block body %}

<div class="w-screen p-2 md:p-4 lg:p-8 gap-2">
  <h1 class="text-3xl font-bold">Wishlist</h1>
  <div role="tablist" class="tabs tabs-box">
    <a
      preload
      href="/wishlist"
      role="tab"
      class="tab {% if page=='wishlist' %}tab-active{% endif %}"
      >Requests</a
    >
    <a
      preload
      href="/wishlist/downloaded"
      role="tab"
      class="tab {% if page=='downloaded' %}tab-active{% endif %}"
      >Downloaded</a
    >
    <a
      preload
      href="/wishlist/manual"
      role="tab"
      class="tab {% if page=='manual' %}tab-active{% endif %}"
      >Manual</a
    >
  </div>

  {% block content %} {% endblock %} {% endblock %}
</div>
