{% extends "settings_page/base.html" %} {% block head %}
<title>Settings - Account</title>
{% endblock %} {% block content %}
<form
  id="change-password-form"
  class="flex flex-col gap-2"
  hx-post="/settings/account/password"
  hx-target="#change-pw-error"
>
  <h2 class="text-lg">Change Password</h2>

  <label for="old-password">Old password</label>
  <input
    id="old-password"
    name="old_password"
    type="password"
    class="input w-full"
    required
  />

  <label for="change-password-1">Password</label>
  <input
    id="change-password-1"
    name="password"
    type="password"
    class="input w-full"
    pattern="(?=[^A-Z]*[A-Z])(?=[^a-z]*[a-z])(?=\D*\d).{8,}"
    oninvalid="this.setCustomValidity('Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, and one number')"
    oninput="this.setCustomValidity('')"
    required
  />

  <label for="change-password-2">Confirm password</label>
  <input
    id="change-password-2"
    name="confirm_password"
    type="password"
    class="input w-full"
    pattern="(?=[^A-Z]*[A-Z])(?=[^a-z]*[a-z])(?=\D*\d).{8,}"
    oninvalid="this.setCustomValidity('Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, and one number')"
    oninput="this.setCustomValidity('')"
    required
  />

  {% block change_pw_messages %}
  <span id="change-pw-error" class="text-red-400">{{ error }}</span>
  {% endblock %}

  <button name="submit" class="btn btn-primary" type="submit">
    Change password
  </button>
</form>
{% endblock %}
