{% extends "base.html" %} {% block head %}
<title>Settings</title>
{% endblock %} {% block body %} {% if version %}
<p
  class="fixed bottom-1 right-1 font-mono text-xs font-semibold text-neutral/60 dark:text-neutral-content/60"
>
  version: {{ version }}
</p>
{% endif %}
<div class="flex items-start justify-center p-2 md:p-4 relative">
  <main
    class="flex flex-col w-[90%] md:w-3/4 max-w-[40rem] gap-4 gap-y-8 pb-[10rem]"
  >
    {% if user.is_admin() %}
    <div role="tablist" class="tabs tabs-box">
      <a
        preload
        href="/settings/account"
        role="tab"
        class="tab {% if page=='account' %}tab-active{% endif %}"
        >Account</a
      >
      <a
        preload
        href="/settings/users"
        role="tab"
        class="tab {% if page=='users' %}tab-active{% endif %}"
        >Users</a
      >
      <a
        preload
        href="/settings/prowlarr"
        role="tab"
        class="tab {% if page=='prowlarr' %}tab-active{% endif %}"
        >Prowlarr</a
      >
      <a
        preload
        href="/settings/download"
        role="tab"
        class="tab {% if page=='download' %}tab-active{% endif %}"
        >Download</a
      >
      <a
        preload
        href="/settings/notifications"
        role="tab"
        class="tab {% if page=='notifications' %}tab-active{% endif %}"
        >Notifications</a
      >
      <a
        preload
        href="/settings/security"
        role="tab"
        class="tab {% if page=='security' %}tab-active{% endif %}"
        >Security</a
      >
    </div>
    {% endif %} {% block content %} {% endblock %}
  </main>
</div>
{% endblock %}
