{% extends "settings_page/base.html" %} {% block head %}
<title>Settings - Indexers</title>
{% include 'scripts/alpinejs.html' %} {% endblock %} {% block content %}
<main x-data="{ selected: '{{ indexers[0].indexer.name }}' }">
  <form
    id="change-password-form"
    class="flex flex-col gap-2"
    hx-post="{{base_url}}/settings/indexers"
    hx-target="this"
  >
    <h2 class="text-lg">Indexer Settings</h2>

    <p class="text-sm opacity-60">
      Extra indexer settings that add additional metadata to sources.
    </p>

    <label for="indexer-select">Indexer</label>
    <select
      id="indexer-select"
      name="indexer_select"
      class="select w-full"
      x-model="selected"
    >
      {% for ctxt in indexers %}
      <option value="{{ ctxt.indexer.name }}">{{ ctxt.indexer.name }}</option>
      {% endfor %}
    </select>

    {% for ctxt in indexers %}
    <template x-if="selected === '{{ ctxt.indexer.name }}'">
      <div class="contents">
        {% for key, config in ctxt.configuration.items() %}
        <div>
          <label for="{{ key }}"
            >{{ config.display_name }} {% if config.required %}<span
              class="text-error"
              >*</span
            >{% endif %}</label
          >
          {% if config.description %}
          <p class="text-xs opacity-60">{{ config.description }}</p>
          {% endif %}
        </div>

        {% if config.is_str() %}
        <!-- prettier-ignore -->
        <input
          id="{{ key }}"
          name="{{ key }}"
          type="text"
          class="input w-full"
          value="{{ getattr(ctxt.valued, key) or "" }}"
          {% if config.required %}required{% endif %}
        />
        {% elif config.is_int() or config.is_float() %}
        <!-- prettier-ignore -->
        <input
          id="{{ key }}"
          name="{{ key }}"
          type="number"
          class="input w-full"
          value="{{ getattr(ctxt.valued, key) or "" }}"
          {% if config.required %}required{% endif %}
          />
        {% elif config.is_bool() %}
        <!-- prettier-ignore -->
        <input
          id="{{ key }}"
          name="{{ key }}"
          type="checkbox"
          class="checkbox"
          {% if getattr(ctxt.valued, key) %} checked {% endif %}
        />
        {% endif %} {% endfor %}
      </div>
    </template>

    {% endfor %}

    <button name="submit" class="btn btn-primary" type="submit">Save</button>
  </form>
</main>
{% endblock %}
