{% extends "settings_page/base.html" %} {% block head %}
<title>Settings - Notifications</title>
{% include 'scripts/alpinejs.html' %} {% endblock %} {% block content %}

<div class="flex flex-col">
  <h2 class="text-lg">Notifications</h2>

  <form
    id="add-notification-form"
    class="flex flex-col gap-2"
    hx-post="{{base_url}}/settings/notification"
    hx-target="#notification-list"
    hx-swap="outerHTML"
    hx-on::after-request="if (event.detail.successful && event.detail.target?.id === 'notification-list') this.reset()"
  >
    <label for="name">Name<span class="text-error">*</span></label>
    <input
      id="name"
      name="name"
      minlength="1"
      type="text"
      class="input w-full"
      required
    />

    <label for="event">Event<span class="text-error">*</span></label>
    <select id="event" name="event_type" class="select w-full" required>
      {% for e in event_types %}
      <option value="{{ e }}">{{ e }}</option>
      {% endfor %}
    </select>

    <label for="apprise_url"
      >Apprise Notify URL
      <span class="text-xs font-mono">(http://.../notify/c2h3fg...)</span
      ><span class="text-error">*</span></label
    >
    <input
      id="apprise_url"
      name="apprise_url"
      minlength="1"
      type="text"
      class="input w-full"
      required
    />

    <label for="headers"
      >Headers
      <span class="astext-xs font-mono">(JSON format, optional)</span></label
    >
    <!-- prettier-ignore -->
    <input
      id="headers"
      name="headers"
      type="text"
      class="input w-full"
      placeholder="{&quot;username&quot;: &quot;admin&quot;, &quot;password&quot;: &quot;password123&quot;}"
      pattern="{{ json_regexp }}"
    />

    <label for="title_template"
      >Title Template<span class="text-error">*</span></label
    >
    <input
      id="title_template"
      placeholder="New Book: {bookTitle}"
      name="title_template"
      minlength="1"
      type="text"
      class="input w-full"
      required
    />

    <label for="body_template"
      >Body Template<span class="text-error">*</span></label
    >
    <textarea
      id="body_template"
      placeholder="New book {bookTitle} by {bookAuthors} narrated by {bookNarrators}. `Requested by {eventUser}`"
      name="body_template"
      class="textarea w-full"
      required
    ></textarea>

    <p class="text-xs opacity-60">
      Possible event variables:
      <span class="font-mono"
        >eventUser, bookTitle, bookAuthors, bookNarrators </span
      ><br />
      Failed download event additionally has:
      <span class="font-mono">errorStatus, errorReason</span>
    </p>

    <button type="submit" class="btn">Add</button>
  </form>
</div>

{% block notfications_block %}
<div
  id="notification-list"
  class="pt-4 border-t border-base-200"
  x-data="{ edit: null }"
  x-init="$watch('edit', value => { // load htmx when the form is shown
    if (edit) htmx.process(document.querySelector('#edit-notification-form'))
  })"
>
  <h2 class="text-lg">Apprise Notifications</h2>

  <div class="max-h-[30rem] overflow-x-auto">
    <table class="table table-pin-rows">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Event</th>
          <th>URL</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for n in notifications %}
        <tr>
          <th>{{ loop.index }}</th>
          <td>{{ n.name }}</td>
          <td>{{ n.event.value }}</td>
          <td>{{ n.apprise_url }}</td>
          <td class="grid grid-cols-2 min-w-[8rem] gap-1">
            <button
              title="Test"
              class="btn btn-square"
              hx-post="{{base_url}}/settings/notification/{{n.id}}"
              hx-disabled-elt="this"
            >
              {% include 'icons/test-pipe.html' %}
            </button>
            <button
              title="Edit"
              class="btn btn-square"
              x-on:click="edit === '{{n.id}}' ? edit=null: edit='{{n.id}}'"
            >
              {% include 'icons/pencil.html' %}
            </button>
            <button
              title="{{ 'Enabled' if n.enabled else 'Disabled' }}"
              class="btn btn-square {{ 'btn-success' if n.enabled else 'btn-error' }}"
              hx-patch="{{base_url}}/settings/notification/{{n.id}}/enable"
              hx-disabled-elt="this"
              hx-target="#notification-list"
              hx-swap="outerHTML"
            >
              {% if n.enabled %}
              <span>{% include 'icons/checkmark.html' %}</span> {% else %}
              <span>{% include 'icons/xmark.html' %}</span> {% endif %}
            </button>
            <button
              title="Delete"
              class="btn btn-error btn-square"
              hx-delete="{{base_url}}/settings/notification/{{n.id}}"
              hx-target="#notification-list"
              hx-swap="outerHTML"
              hx-confirm="Are you sure you want to delete this notification? ({{n.name}})"
            >
              {% include 'icons/trash.html' %}
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% for n in notifications %}
  <template x-if="edit === '{{n.id}}'">
    <form
      x-data="{ name: {{n.name|toJSstring}}, event: {{n.event.value|toJSstring}}, apprise_url: {{n.apprise_url|toJSstring}}, headers: {{n.serialized_headers|toJSstring}}, title_template: {{n.title_template|toJSstring}}, body_template: {{n.body_template|toJSstring}} }"
      class="flex flex-col gap-2"
      hx-put="{{base_url}}/settings/notification/{{n.id}}"
      hx-target="#notification-list"
      hx-swap="outerHTML"
      id="edit-notification-form"
    >
      {{ n.name }}
      <label for="name">Name<span class="text-error">*</span></label>
      <input
        id="name"
        name="name"
        minlength="1"
        type="text"
        class="input w-full"
        required
        x-model="name"
      />

      <label for="event">Event<span class="text-error">*</span></label>
      <select
        id="event"
        name="event_type"
        class="select w-full"
        required
        x-model="event"
      >
        {% for e in event_types %}
        <option value="{{ e }}">{{ e }}</option>
        {% endfor %}
      </select>

      <label for="apprise_url"
        >Apprise Notify URL
        <span class="text-xs font-mono">(http://.../notify/c2h3fg...)</span
        ><span class="text-error">*</span></label
      >
      <input
        id="apprise_url"
        name="apprise_url"
        minlength="1"
        type="text"
        class="input w-full"
        required
        x-model="apprise_url"
      />

      <label for="headers"
        >Headers
        <span class="astext-xs font-mono">(JSON format, optional)</span></label
      >
      <!-- prettier-ignore -->
      <input
        id="headers"
        name="headers"
        type="text"
        class="input w-full"
        placeholder="{&quot;username&quot;: &quot;admin&quot;, &quot;password&quot;: &quot;password123&quot;}"
        pattern="{{ json_regexp }}"
        x-model="headers"
      />

      <label for="title_template"
        >Title Template<span class="text-error">*</span></label
      >
      <input
        id="title_template"
        placeholder="New Book: {bookTitle}"
        name="title_template"
        minlength="1"
        type="text"
        class="input w-full"
        required
        x-model="title_template"
      />

      <label for="body_template"
        >Body Template<span class="text-error">*</span></label
      >
      <textarea
        id="body_template"
        placeholder="New book {bookTitle} by {bookAuthors} narrated by {bookNarrators}. `Requested by {eventUser}`"
        name="body_template"
        class="textarea w-full"
        required
        x-model="body_template"
      ></textarea>

      <button type="submit" class="btn">Update</button>
    </form>
  </template>
  {% endfor %}
</div>
{% endblock %} {% endblock %}
