{% extends "settings_page/base.html" %}
{% block head %}
  <title>Settings - Prowlarr</title>
  {% include "scripts/alpinejs.html" %}
{% endblock head %}
{% block content %}
  <div class="flex flex-col gap-2">
    <h2 class="text-lg">Prowlarr</h2>
    {% if prowlarr_misconfigured %}<p class="text-red-400">Prowlarr is misconfigured. Please configure it.</p>{% endif %}
    <label for="prowlarr-api-key">API Key</label>
    <form class="join w-full"
          hx-put="{{ base_url }}/settings/prowlarr/api-key"
          hx-disabled-elt="#api-button">
      <input id="prowlarr-api-key"
             name="api_key"
             type="password"
             {% if prowlarr_api_key %}placeholder="●●●●●●●●●●●●●●●●●"{% endif %}
             class="input join-item w-full"
             minlength="1"
             required />
      <button id="api-button" class="join-item btn">
        {% if prowlarr_api_key %}
          Update
        {% else %}
          Add
        {% endif %}
      </button>
    </form>
    <label for="prowlarr-base-url" class="pt-2">Base URL</label>
    <form class="join w-full"
          hx-put="{{ base_url }}/settings/prowlarr/base-url"
          hx-disabled-elt="#base-url-button">
      <input id="prowlarr-base-url"
             name="base_url"
             type="url"
             value="{{ prowlarr_base_url }}"
             class="input join-item w-full"
             minlength="1"
             required />
      <button id="base-url-button" class="join-item btn">
        {% if prowlarr_base_url %}
          Update
        {% else %}
          Add
        {% endif %}
      </button>
    </form>
    {% block category %}
      <form id="category-select"
            class="flex flex-col gap-2"
            x-data="{ selected: [{{ selected_categories|join(",") }}].sort(), categories: {{ indexer_categories }} }"
            hx-put="{{ base_url }}/settings/prowlarr/category"
            hx-disabled-elt="#category-submit-button"
            hx-target="this"
            hx-swap="outerHTML">
        <label for="categories">Categories</label>
        <p class="text-xs opacity-60">
          Categories to search for using Prowlarr. If none are selected, all
          categories will be searched for.
        </p>
        {% if success %}<script>toast("{{success|safe}}", "success");</script>{% endif %}
        <div class="flex flex-wrap gap-1">
          <template x-for="sel in selected">
            <div class="badge badge-secondary badge-sm w-[13rem] justify-between h-fit">
              <input type="hidden" name="c" x-bind:value="sel" />
              <span x-text="`${String(sel).padStart(4, '0')} - ${categories[sel]}`"></span>
              <button class="cursor-pointer [&>svg]:size-4 hover:opacity-70 transition-opacity duration-150"
                      x-on:click="selected = selected.filter((item) => item !== sel)"
                      type="button">{% include "icons/xmark.html" %}</button>
            </div>
          </template>
        </div>
        <select id="categories"
                name="group"
                class="select w-full"
                x-on:change="selected = [...selected, $event.target.value].sort()"
                x-init="$el.value = ''">
          <option disabled selected value>-- select a category --</option>
          <template x-for="sel in Object.keys(categories)">
            <template x-if="!selected.includes(Number(sel))">
              <option x-text="`${String(sel).padStart(4, '0')} - ${categories[sel]}`"
                      x-bind:value="sel"></option>
            </template>
          </template>
        </select>
        <button id="category-submit-button"
                x-data="{ initial: selected }"
                x-bind:disabled="JSON.stringify(initial) === JSON.stringify(selected)"
                class="btn">Save</button>
      </form>
    {% endblock category %}
    {% block indexer %}
      <form id="indexer-select"
            class="flex flex-col gap-2"
            x-data="{ selectedIndexers: [{{ selected_indexers|join(",") }}].sort(), indexers: {{ indexers.json_string }} }"
            hx-put="{{ base_url }}/settings/prowlarr/indexers"
            hx-disabled-elt="#indexer-submit-button"
            hx-target="this"
            hx-swap="outerHTML">
        {% if success %}<script>toast("{{success|safe}}", "success");</script>{% endif %}
        <label for="indexers">Indexers</label>
        <p class="text-xs opacity-60">
          Select the indexers to use with Prowlarr. If none are selected, all
          indexers will be used.
          {% if not indexers.ok %}
            <span class="text-error font-semibold">
              <br />
              No indexers found. {{ indexers.error or "" }}
            </span>
          {% endif %}
        </p>
        {% if indexers.ok %}
          <div class="flex flex-wrap gap-1">
            <template x-for="indexerId in selectedIndexers">
              <div class="badge badge-secondary badge-sm w-[13rem] justify-between h-fit">
                <input type="hidden" name="i" x-bind:value="indexerId" />
                <span x-text="indexers[indexerId].name"></span>
                <button class="cursor-pointer [&>svg]:size-4 hover:opacity-70 transition-opacity duration-150"
                        x-on:click="selectedIndexers = selectedIndexers.filter((itemId) => itemId !== indexerId)"
                        type="button">{% include "icons/xmark.html" %}</button>
              </div>
            </template>
          </div>
        {% endif %}
        <select id="indexers"
                name="group"
                class="select w-full"
                x-on:change="selectedIndexers = [...selectedIndexers, $event.target.value].sort()"
                x-init="$el.value = ''"
                {% if not indexers.ok %}disabled{% endif %}>
          <option disabled selected value>-- select an indexer --</option>
          <template x-for="indexerId in Object.keys(indexers)">
            <template x-if="!selectedIndexers.includes(indexerId)">
              <option x-text="indexers[indexerId].name" x-bind:value="indexerId"></option>
            </template>
          </template>
        </select>
        <button id="indexer-submit-button"
                x-data="{ initial: selectedIndexers }"
                x-bind:disabled="JSON.stringify(initial) === JSON.stringify(selectedIndexers)"
                class="btn">Save</button>
      </form>
    {% endblock indexer %}
  </div>
{% endblock content %}
