{% extends "settings_page/base.html" %} {% block head %}
<title>Settings - Prowlarr</title>
{% endblock %} {% block content %}

<div class="flex flex-col gap-2">
  <h2 class="text-lg">Prowlarr</h2>

  {% if prowlarr_misconfigured %}
  <p class="text-red-400">Prowlarr is misconfigured. Please configure it.</p>
  {% endif %}

  <label for="prowlarr-api-key">API Key</label>
  <form
    class="join w-full"
    hx-put="/settings/prowlarr/api-key"
    hx-disabled-elt="#api-button"
  >
    <!-- prettier-ignore -->
    <input
      id="prowlarr-api-key"
      name="api_key"
      type="password"
      {% if prowlarr_api_key %}placeholder="●●●●●●●●●●●●●●●●●"{% endif %}
      class="input join-item w-full"
      minlength="1"
      required
    />
    <button id="api-button" class="join-item btn">
      {% if prowlarr_api_key %} Update {% else %} Add {% endif %}
    </button>
  </form>

  <label for="prowlarr-base-url" class="pt-2">Base URL</label>
  <form
    class="join w-full"
    hx-put="/settings/prowlarr/base-url"
    hx-disabled-elt="#base-url-button"
  >
    <input
      id="prowlarr-base-url"
      name="base_url"
      type="url"
      value="{{ prowlarr_base_url }}"
      class="input join-item w-full"
      minlength="1"
      required
    />
    <button id="base-url-button" class="join-item btn">
      {% if prowlarr_base_url %} Update {% else %} Add {% endif %}
    </button>
  </form>

  {% block category %}
  <div id="category-select">
    <select
      name="group"
      class="select w-full"
      required
      hx-put="/settings/prowlarr/category"
      hx-trigger="change"
      hx-disabled-elt="this"
      hx-target="#category-select"
      hx-swap="outerHTML"
    >
      {% for category in indexer_categories %}
      <option value="{{category.id}}">
        {{category.id|zfill(4)}} - {{category.name}}
      </option>
      {% endfor %}
    </select>
  </div>
  {% endblock %}
</div>
{% endblock %}
