<!DOCTYPE html>
<html lang="en" data-theme="garden">
  <head>
    <meta charset="UTF-8" />
    {% block head %}
    <title>AudioBookRequest</title>
    {% endblock %}
    <link rel="stylesheet" href="/globals.css" />
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="w-screen min-h-screen overflow-x-hidden">
    {% if not hide_navbar %}
    <header class="bg-base-100 text-neutral shadow-lg">
      <nav class="navbar">
        <div class="flex-1">
          <a href="/" class="btn btn-ghost text-lg">AudioBookRequest</a>

          <a href="/search" class="btn btn-ghost btn-square" title="Search">
            {% include 'icons/search.html' %}
          </a>

          <a
            href="/wishlist"
            class="btn btn-ghost btn-square group relative"
            title="Wishlist"
          >
            <span
              class="opacity-0 group-hover:opacity-100 absolute left-2 top-2 transition-opacity duration-500"
            >
              {% include 'icons/gift-solid.html' %}
            </span>
            <span
              class="opacity-100 group-hover:opacity-0 absolute left-2 top-2 transition-opacity duration-500"
              >{% include 'icons/gift.html' %}</span
            >
          </a>
        </div>

        <div class="flex-none pr-4">
          <a
            href="/settings/account"
            class="btn btn-ghost btn-square group"
            title="Settings"
          >
            <span
              class="group-hover:rotate-90 transition-all duration-500 ease-in-out"
            >
              {% include 'icons/settings.html' %}
            </span>
          </a>
        </div>
      </nav>
    </header>
    {% endif %} {% block body %} {% endblock %}
  </body>
</html>
