{% extends "base.html" %}
{% block head %}
  {% if backup %}
    <title>Backup Login</title>
  {% else %}
    <title>Login</title>
  {% endif %}
{% endblock head %}
{% block body %}
  <div class="h-screen w-full flex items-center justify-center">
    <form class="flex flex-col gap-2 max-w-[30rem]"
          hx-post="{{ base_url }}/auth/token"
          id="form"
          hx-target="this">
      <input type="hidden" name="redirect_uri" value="{{ redirect_uri }}" />
      {% if backup %}
        <h1 class="text-3xl">Backup Login</h1>
        <p class="text-error">
          This instance has OIDC enabled. This login can only be used by the root
          admin.
        </p>
      {% else %}
        <h1 class="text-3xl">Login</h1>
      {% endif %}
      <label for="username">Username</label>
      <input id="username"
             name="username"
             type="text"
             class="input w-full"
             required />
      <label for="password">Password</label>
      <input id="password"
             name="password"
             type="password"
             class="input w-full"
             required />
      <button id="submit" class="btn btn-primary" type="submit">Login</button>
    </form>
  </div>
{% endblock body %}
