{% extends "base.html" %} {% block head %}
<title>Sources</title>
<script>
  const onDownload = (index, path) => {
    const checkbox = document.getElementById(`checkbox-${index}`);
    checkbox.disabled = true;
    fetch(path, {
      method: "POST",
    }).then(resp => {
      if (resp.ok) {
        window.location.href = "/wishlist";
      }
    });
  };
</script>
{% endblock %} {% block body %}

<div class="w-screen p-2 md:p-4 lg:p-8 min-h-screen flex flex-col gap-2">
  <h1 class="text-3xl font-bold">Sources for {{ book.title }}</h1>
  <tbody>
    {% if not sources %}
    <div role="alert" class="alert">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="stroke-info h-6 w-6 shrink-0"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
      </svg>
      <span
        >No results found for "{{ book.title }}" by
        {{book.authors|join(",")}}. Might have to be looked up
        manually.</span
      >
    </div>
    {% endif %} {% for source in sources %}
  <div class="overflow-x-auto h-[90vh] rounded-md outline outline-primary">
    <table class="table table-zebra table-pin-rows min-w-[60rem]">
      <thead>
        <tr>
          <th></th>
          <th>title</th>
          <th>indexer</th>
          <th>seed / leech</th>
          <th>size (MB)</th>
          <th>publish date</th>
          <th></th>
        </tr>
      </thead>
        <tr class="text-xs lg:text-sm">
          <th>{{ loop.index }}</th>

          <td>{{ source.title }}</td>
          <td>{{ indexers[source.indexer_id].name }}</td>

          <td>{{ source.seeders }} / {{ source.leechers }}</td>
          <td>{{ source.size }}</td>
          <td>{{ source.publish_date.strftime("%d. %b %Y") }}</td>

          <td>
            <label
              id="form-{{ loop.index }}"
              class="swap swap-flip"
              title="Send to download client"
            >
              <input
                id="checkbox-{{ loop.index }}"
                type="checkbox"
                onclick="onDownload('{{ loop.index }}','/wishlist/sources/{{ book.asin }}?indexer_id={{ source.indexer_id }}&guid={{ source.guid }}')"
              />
              <svg
                class="swap-off"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                width="24"
                height="24"
                stroke-width="2"
                style="--darkreader-inline-stroke: currentColor"
                data-darkreader-inline-stroke=""
              >
                <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                <path d="M7 11l5 5l5 -5"></path>
                <path d="M12 4l0 12"></path>
              </svg>
              <svg
                class="swap-on text-success"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                style="--darkreader-inline-stroke: currentColor"
                data-darkreader-inline-stroke=""
                width="24"
                height="24"
                stroke-width="2"
              >
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
            </label>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
