{% extends "base.html" %} {% block head %}
<title>Wishlist</title>
{% endblock %} {% block body %}

<div class="w-screen p-2 md:p-4 lg:p-8 gap-2">
  <h1 class="text-3xl font-bold">Wishlist</h1>
  <div class="overflow-x-auto h-[80vh] border-b pb-2 border-b-base-200">
    <table class="table table-pin-rows min-w-[60rem]">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Title</th>
          <th>Author</th>
          <th>Narrator</th>
          <th>Release</th>
          <th>Length (hrs)</th>
          <th># Requested</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
        <tr class="text-xs lg:text-sm">
          <th>{{ loop.index }}</th>
          <td>
            <div class="size-[4rem] lg:size-[6rem]">
              {% if book.cover_image %}
              <img
                class="object-cover w-full h-full"
                src="{{ book.cover_image }}"
                alt="{{ book.title }}"
              />
              {% else %}
              <div
                class="flex items-center justify-center w-full h-full bg-neutral text-neutral-content opacity-30"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  width="24"
                  height="24"
                  stroke-width="2"
                  style="--darkreader-inline-stroke: currentColor"
                  data-darkreader-inline-stroke=""
                >
                  <path d="M15 8h.01"></path>
                  <path
                    d="M7 3h11a3 3 0 0 1 3 3v11m-.856 3.099a2.991 2.991 0 0 1 -2.144 .901h-12a3 3 0 0 1 -3 -3v-12c0 -.845 .349 -1.608 .91 -2.153"
                  ></path>
                  <path d="M3 16l5 -5c.928 -.893 2.072 -.893 3 0l5 5"></path>
                  <path
                    d="M16.33 12.338c.574 -.054 1.155 .166 1.67 .662l3 3"
                  ></path>
                  <path d="M3 3l18 18"></path>
                </svg>
              </div>
              {% endif %}
            </div>
          </td>

          <td>
            <div class="flex flex-col">
              {% if is_admin %}
              <a
                href="/wishlist/sources/{{ book.asin|quote_plus }}"
                class="font-bold text-primary line-clamp-4"
                title="{{ book.title }}"
                >{{ book.title }}</a
              >
              {% else %}
              <span
                class="font-bold text-primary line-clamp-4"
                title="{{ book.title }}"
                >{{ book.title }}</span
              >
              {% endif %} {% if book.subtitle %}<span
                class="font-semibold line-clamp-4"
                title="{{ book.subtitle }}"
                >{{ book.subtitle }}</span
              >{% endif %}
            </div>
          </td>

          <td>{{ book.authors|join(', ') }}</td>
          <td>{{ book.narrators|join(', ') }}</td>
          <td class="hidden lg:table-cell">{{ book.release_date }}</td>
          <td class="lg:hidden">{{ book.release_date.split(" ")[1] }}</td>
          <td>{{ book.runtime_length_hrs }}</td>
          <td>{{ book.amount_requested }}</td>

          <td>
            <label class="swap swap-flip">
              <input
                id="checkbox-{{ loop.index }}"
                type="checkbox"
                onclick="onRequest('{{ loop.index }}', '{{ book.guid }}', '{{ book.indexerId }}');"
              />
              <svg
                class="swap-off"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                width="24"
                height="24"
                stroke-width="2"
                style="--darkreader-inline-stroke: currentColor"
                data-darkreader-inline-stroke=""
              >
                <path d="M12 5l0 14"></path>
                <path d="M5 12l14 0"></path>
              </svg>
              <svg
                class="swap-on text-success"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                style="--darkreader-inline-stroke: currentColor"
                data-darkreader-inline-stroke=""
                width="24"
                height="24"
                stroke-width="2"
              >
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
            </label>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
